@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/noto_sans_medium.ttf');
}

body {
  padding: 0;
  margin: 0;
  color:#000000;
  font-family: 'Noto Sans',arial,sans-serif;
}

.page-with {
  max-width: 954px;
  margin: 0 auto;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

/**
 * vue.draggable style
**/

.ghost {
  opacity: 1;
  background: #ffddeb;
  border-radius: 8px;
}

.drag {
  opacity: 0;
}

.loading-bg {
  background-image: linear-gradient(100deg, #dddddd, #f7f7f7,#dddddd);
  animation: loading-color 4s infinite;
  background-size: 400%;
}

@keyframes loading-color {
  0% {
    background-position : 0 0;
  }

  100% {
    background-position: 280% 0;
  }
}

@media only screen and (min-width: 954px) {

  ::-webkit-scrollbar-track{
    box-shadow: inset 0 0 10px rgba(0,0,0,0);
  }

  ::-webkit-scrollbar {
    width: 8px; /*对垂直流动条有效*/
    height: 8px; /*对水平流动条有效*/
  }

  ::-webkit-scrollbar-thumb{
    border-radius: 7px;
    background-color: #cfcfcf;
  }
}

@media only screen and (max-width: 954px) {
  .page-with {
    width: 100%;
    max-width: 388px;
    padding: 0 16px;
  }
}
