#MessageList {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 360px;
  height: auto;
  z-index: 9999;

  .app-message {
    position: absolute;
    max-width: 360px;
    background-color: #fff;
    transition: all 0.3s;
    display: flex;
    flex-flow: row nowrap;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0 0 5px #ddd;
    align-items: center;
    margin-top: 8px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;

    .text {
      font-size: 16px;
    }

    .icon {
      width: 24px;
      height: 24px;
      display: block;
      margin-right: 8px;
    }

    &.info {
      border: 1px solid  #4273CE;
      .text {
        color: #4273CE
      }
    }

    &.success {
      border: 1px solid #22852d;
      .text {
        color: #22852d
      }
    }

    &.warn {
      border: 1px solid #bc7315;
      .text {
        color: #bc7315
      }
    }

    &.error {
      border: 1px solid #D2504E;
      box-shadow: 0 8px 16px rgba(206, 43, 40, 0.06);
      background: #FFF8F8;
      .text {
        color: #D2504E
      }
    }

    &.active {
      top: 30%
    }
  }
}
